{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="container">
        <div class="row">
            {% for vacancie in vacancies %}
                <div class="shadow-sm p-3 mb-5 ml-4 rounded border" style="width: 261px; height: 247px;">
                    <p id="parr">
                        {{ vacancie.name }} | <br>
                        {{ vacancie.city }} - {{ vacancie.state }}
                        | {{ vacancie.number }} <br>
                        vaga(s) 
                        <p class="pt-4"> {{ vacancie.occupation_area }} </p> 
                        <p class="pt-4"> Emprego em {{ vacancie.city }} / {{ vacancie.state }}</p> 
                    </p>

                    {% if vacancie.img %}
                        <p><img src="{{ vacancie.img.url }}" alt=""></p>
                    {% endif %}
                </div>
            {% endfor %}                
        </div>        
    </div>
</div>

{% endblock content %}    


