{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid mb-1 p-0">
    <div class="container-fluid bg-banner flex">
        <img src="{% static 'img/ba.png' %}" class="img-fluid" alt="">
        <div class="banner-title">
            <h1 class="banner-title main-text text-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'user:user_profile' %}" class="title-link border rounded
                    text-white p-1 shadow rounded">Connect</a> 
                    with Opportunities
                {% else %}
                    <a href="{% url 'user:user_register' %}" class="title-link border rounded
                    text-white p-1 shadow rounded">Connect</a> 
                    with Opportunities
                {% endif %}
            </h1>
            <h2 class="banner-title text-center">Search for vacancies here</h2>
        </div>
    </div>
    <div class="container">
        <div class="input-group input-group-mobile">
            <form class="form-filter" action="{% url 'vacancies:vacancy_search' %}" method="get">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-category-filter btn-outline-dark dropdown-toggle dropdown-toggle-split category_display"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Categories
                    </button>
    
                    <div class="dropdown-menu">
                        {% for category in categories %}
                            <a href="{% url 'vacancies:vacancy_category' category.name %}" class="dropdown-item btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill mr-2" viewBox="0 0 16 16">
                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            {{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                    <select name="occupation" class="custom-select" id="inputGroupSelect01" >
                        <option selected disabled>Occupation</option>
                        {% for occupation in vacancies %}
                            <option>{{ occupation.get_occupation_area_display }}</option>
                            {% endfor %}
                    </select>
                    
                    <select class="custom-select" id="inputGroupSelect02" name="state">
                        <option selected disabled>State</option>
                        {% for state in vacancies %}
                        <option>{{ state.get_state_display }}</option>
                        {% endfor %}
                    </select>
                
                <input type="search" name="search" class="form-control input-form" value="{{ request.GET.search }}" placeholder="Profession, Job Role, etc...">
                    
                <button type="submit" value="{{ request.GET.search }}" class="btn btn-dark"> 
                    <span class="mr-1 submit-filter">Filter</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 
                    1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>

            </form>
        </div>
        <br>
        <div class="row">
            {% for vacancy in vacancies %}
            <div class="col-sm">
                <div class="vacancy-card shadow-card p-3 mb-5 rounded border-bottom-0">
                    <p class="p-2 vacancy-descri">
                        <small>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar3" viewBox="0 0 16 16">
                                <path
                                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                <path
                                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                        </small>
                        <small id="date-sm">
                            {{vacancy.date_posted|date:"M d, Y"}}
                        </small><br>
                        <h4 class="h4">
                            <a href="{% url 'vacancies:vacancy_detail' vacancy.id %}" class="font-weight-bold link-descri">
                                {{ vacancy.name }} | {{ vacancy.city }} - {{ vacancy.state }} | {{ vacancy.number }} vaga(s)
                            </a>
                        </h4>
                    <p class="pt-3">
                        <a href="#" class=" link-descri p-1 border rounded text-white pl-2 pr-2 pt-1" id="occopation">
                            {{ vacancy.get_occupation_area_display }}</a>
                    </p>
                    <p class="vacancy-locate mb-0">
                        <small id="job-sm">Emprego em
                            <a href="">{{ vacancy.city }}</a> /
                            <a href="">{{ vacancy.state }}
                        </small></a>
                    </p>
                    </p>
                    {% if vacancy.img %}
                    <p><img src="{{ vacancy.img.url }}" alt=""></p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}