{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <h5{% if message.tags %} class=" li-message {{ message.tags }}"{% endif %}>{{ message }}
            <button onclick="closeMessage()" class="close">&times;</button>
        </h5>
    {% endfor %}
</ul>
{% endif %}

<div class="container-fluid detail mt-3">
  <div class="container my-vacancies-path h5 pb-3">
    <span class="">
      <a class="text-success" href="{% url 'vacancies:home' %}">Home</a> /
      <a class="text-success" href="{% url 'vacancies:home' %}">Vacancies</a> /
      <a class="text-success" href="{% url 'vacancies:my_vacancies' %}">My Vacancies</a>
    </span>
  </div>
</div>

<div class="container-fluid mb-1 p-0 my-vacancies-b">
  <div class="container">
      <div class="row">
      {% for vacancy in vacancies %}
      <div class="col-sm">
          <div class="vacancy-card shadow-card p-3 mb-5 rounded border-bottom-0">
              <p class="p-2 vacancy-descri">
                <small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path
                            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path
                            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                </small>
                <small id="date-sm">
                    {{vacancy.date_posted|date:"M d, Y"}}
                </small><br>
                <h4 class="h4">
                    <a href="{% url 'vacancies:vacancy_detail' vacancy.id %}" class="font-weight-bold link-descri">
                        {{ vacancy.name }} | {{ vacancy.city }} - {{ vacancy.state }} | {{ vacancy.number }} vaga(s)
                    </a>
                </h4>
              <p class="pt-3">
                <a href="#" class=" link-descri p-1 border rounded text-white pl-2 pr-2 pt-1" id="occopation">
                  {{ vacancy.occupation_area }}
                </a>
                <a href="{% url 'vacancies:delete_vacancy' vacancy.id %}" class="btn btn-danger ml-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                  </svg>
                </a>
              </p>
              <p class="vacancy-locate mb-0 mt-0">
                <small id="job-sm">Emprego em
                    <a href="">{{ vacancy.city }}</a> /
                    <a href="{% url 'vacancies:state_filter' vacancy.state %}">{{ vacancy.state }}
                </small></a>
              </p>
              {% if vacancy.img %}
                <p><img src="{{ vacancy.img.url }}" alt=""></p>
              {% endif %}
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% endblock content %}
