{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="container-fluid mb-5 mt-5">
  <div class="container container-form border rounded shadow mt-5">

    <h1 class="p-2 pb-4 text-success font-weight-bold">Change password</h1>
    <form method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      <div class="form-group pl-2 pr-2">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}

      <input class="btn btn-dark change-btn-mobile change-btn mt-1 ml-2" type="submit" value="Update">
    </form>

  </div>
</div>
{% endblock content %}