{% extends 'base.html' %}
{% load  crispy_forms_tags%}


{% block content %}
<div class="container container-form pt-3">
    <div class="container register-profile-path h5 pb-3">
        <span class="">
          <a class="text-success" href="{% url 'vacancies:home' %}">Home</a> /
          <a class="text-success" href="{% url  'user:user_register'%}">Register</a>
        </span>
      </div>
    <form class="p-5 mt-0 shadow border rounded register-form" action="" method="post">
        <fieldset class="form-group border rounded">
            <legend class="p-0 m-0 font-weight-bold text-success register-legend">User Registration</legend>
            {%csrf_token%}
            {{ userform|crispy }}
            {{ profileform|crispy }}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
