@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url(
    'https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'
    );

body{
    font-family: 'Roboto Condensed', sans-serif!important;
  }

.navbar, .anav{
    font-size: 20px!important;
}

/* .img-fluid{
    padding-left: 30px;
    padding-right: auto;
} */

.form-font{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px!important;
}