@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.navbar,
.a-nav,
.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px !important;
}

p {
    font-size: large;
}

.img-fluid {
    height: auto !important;
}

.form-font {
    font-family: 'Source Sans Pro', sans-serif !important;
    /* font-size: 1px !important; */
}

.change-form-font{
    font-size: 17px!important;
}

#occopation {
    background-color: rgb(78, 167, 81);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
}

.vacancy-descri {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.rounded {
    border-radius: 0.40rem !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) !important;
}

#date-sm {
    font-family: 'Roboto Condensed', sans-serif;
    color: #05943f;
    font-size: 13.5px;
}

#job-sm {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

.vacancy-locate{
    margin-top: 30px!important;
}

.detail{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
}

.link-descri {
    font-family: 'Roboto Condensed', sans-serif!important;
    color: black;
    text-decoration: none !important;
}

.bg-banner {
    background: rgb(54, 201, 91);
    background: radial-gradient(circle,
            rgba(54, 201, 91, 0.9640231092436975) 0%, rgba(26, 59, 35, 0.9136029411764706) 100%);
}

.flex {
    display: flex;
    align-items: center;
}

.mt {
    margin-top: 80px !important;
}

.banner-title {
    font-family: 'Roboto Condensed', sans-serif;
}

.main-text {
    font-weight: bold;
}

.btn-success {
    background: rgb(35, 167, 43);
    background: linear-gradient(0deg, rgba(35, 167, 43, 1) 0%, rgba(56, 176, 64, 1) 100%);
}

.text-success {
    color: rgb(22, 138, 30) !important;
}

.title-link:hover {
    text-decoration: none;
}

.input-group {
    width: 100% !important;
    margin-top: 4.5%;
}

.top-bar,
.profile {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-top {
    color: rgb(176, 176, 176);
    font-size: 15px;
}

.vertical-center {
    vertical-align: middle;
}

.text-top:hover {
    color: rgb(145, 145, 145);
}

fieldset {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 48px;
    margin-bottom: 35px !important;
}

.register-legend{
    font-size: 200%;
}

.container-form {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px !important;
    margin-bottom: 7%!important;
}

.mb-dtitle{
    margin-bottom: 48px;
}

.card-header {
    background-color: white!important;
}

.detail-p {
    font-size: 120%;
    color: #05943f;

}

.p-dcontainer{
    padding: 3%;
    max-width: 50%;
}

.send-spancontainer{
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 70%;
}

.p-dspancontainer{
    max-width: 50%;
}

.p-dcollapse{
    padding: 5%;
}

.category_display{
    display: block!important;
    width: 100%!important;
}

.form-filter{
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.btn-category-filter{
    background-color: white;
}

.change-btn{
    margin-bottom: 15px!important;
    font-size: 90%;
    width: 85px;
}

.pencil-size{
    font-size: 1px!important;
}

.dropdown-item{
    color: #344037;
}

.dropdown-item:hover{
    background-color: #344037;
    color: white!important;
}

.show{
    border-radius: 3%;
}

footer{
    margin-top: 7.5%;
}

.vacancy-card{
    height: 287px;
    min-width:220px;
}

.shadow-card{
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px 
    rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.14);
}
.section-profile{
    background-color: #eee;
    height: 150%!important;
}
.buttons{
    display:inline-flex;
}

@media only screen and (max-width: 575px){
    .vacancy-card{
        height: 270px;
        max-width:90%;
        margin: auto;
        padding: 6%!important;
    }
}

@media only screen and (max-width: 767px){
    .img-fluid {
        margin: auto;
        padding: 0% 4% 0% 4%;
    }

    .banner-title {
        display: none;
    }

    .mt {
        margin-top: 50px !important;
    }

    .detail-p {
        font-size: 100%;
        color: #05943f;
    
    }

    .detail{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 100%;
    }

    .p-dcollapse{
        padding: 10%;
    }
    
    .change-btn-mobile{
        margin-bottom: 15px!important;
        font-size: 90%;
    }

    .container-form {
        margin-top: 5%;
        padding: 1%;
    }

    fieldset {
        padding: 16px!important;
    }

    .register-form{
        padding: 16px!important;
    }

    .navbar-expand-lg{
        padding: 3px!important;
    }

    .p-dcontainer{
        padding: 5%;
        max-width: 100%;
    }

    .p-dspancontainer{
        max-width: 100%;
    }

    footer{
        margin-top: 25%;
    }

    .container-form{
        max-width: 100%;
    }

    .send-spancontainer{
        max-width: 100%;
    }

    .shadow-card{
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px 
        rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.14);
    }

    .form-filter{
        width: 90%;
        display: flex; 
        flex-direction: column;
        margin: 0% auto 0% auto;
    }

    .buttons{
        margin-top: 5%;
    }

    .nav-link {
        font-size: 17px!important;
    }

    .send-button{
        max-height: 48px;
        width: 120%;
    }
    
}

@media only screen and (max-width: 991px){
    .send-button{
        max-height: 48px;
        width: 120%;
    }

    .mobile-shadow-md{
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    }

    .mobile-shadow-lg{
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    }

    .user-button{
        border: none;
    }
}

@media only screen and (min-width: 768px) {
    .img-fluid {
        margin: 0% 0% 0% auto;
    }
    
    .banner-title {
        margin: 0% auto 0% 0%;
    }

    .container-form {
        max-width: 70%;
        padding: 2.5%;
    }

    .send-spancontainer{
        max-width: 70%;

    }

    .occupation_select{
        width: 100%;
    }

    .p-dcontainer{
        padding: 5%;
        max-width: 70%;
    }

    .p-dspancontainer{
        max-width: 70%;
    }

    .submit-filter{
        display: none;
    }
}

@media only screen and (min-width: 1190px) {
    .img-fluid {
        margin: 0% 0% 0% auto;
    }
    
    .banner-title {
        margin: 0% auto 0% 0%;
    }

    .email-contact {
        font-size: 14px !important;
    }

    .container-form {
        max-width: 55%!important;
    }

    .send-spancontainer{
        max-width: 55%;
    }

    .p-dcontainer{
        padding: 5%;
        max-width: 50%;
    }

    .p-dspancontainer{
        max-width: 50%;
    }

    .vacancy-card{
        padding: 6%!important;
    }
}

@media only screen and (min-width: 1400px) {
    .img-fluid {
        margin: 0% 0% 0% auto;
    }
}

    .banner-title {
        margin: 0% auto 0% 0%;
    }

    .email-contact {
        font-size: 14px !important;
}