@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.navbar, .anav, .nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px!important;
}

p{
    font-size: large;
}

.img-fluid{ 
    max-width: 100%!important;
    height: auto!important;
}

.form-font{
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 18px!important;
}

#occopation{
    background-color: rgb(78,167,81);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
}

#vacancy-descri{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.rounded {
    border-radius: 0.40rem!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;
}

#date-sm{
    font-family: 'Roboto Condensed', sans-serif;
    color: #05943f;
    font-size: 13.5px;
}

#job-sm{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

.link-descri{
    color: black;
    text-decoration: none!important;
}

.bg-banner {
    background: rgb(54,201,91);
    background: radial-gradient(circle,
     rgba(54,201,91,0.9640231092436975)
     0%, rgba(26,59,35,0.9136029411764706) 100%);
}

.flex{
    display: flex;
    align-items: center;
}

.mt{
    margin-top: 300px!important;
}

.banner-title{
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 20px;
}

.main-text{
    font-weight: bold;
}

.btn-success{
    font-weight: bold;
    background-color: rgb(33, 155, 41)!important;
}

.text-success {
    color: rgb(14,126,21)!important;
    font-weight: bold;
}

.title-link:hover {
    text-decoration: none;
}

.input-group{
    width: 100%!important;
}

@media only screen and (max-width: 767px) {
    .img-fluid{
        max-width: 100%!important;
        height: auto!important;
        padding-right: auto;
    }
    .banner-title{
        display: none!important;
    }

}

@media only screen and (min-width: 768px) {
    .img-fluid{
        max-width: 100%!important;
        height: auto!important;
        padding-left: 2%;
        padding-right: auto;
    }

}

@media only screen and (min-width: 1190px) {
    .img-fluid{
        max-width: 100%!important;
        height: auto!important;
        padding-left: 8%;
        padding-right: auto;
    }
    
}

@media only screen and (min-width: 1400px) {
    .img-fluid{
        max-width: 100%!important;
        height: auto!important;
        padding-left: 21%;
        padding-right: auto;
    }
    
}