{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white p-3 shadow-sm border rounded">         
    <li class="nav-item nav-link">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" class="" alt=""></a>
    </li>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topnav">
            <li class="nav-item ">
                <a class="nav-link text-success" href="#">Vacancies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cursos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn btn-light border border-dark text-dark anav pl-5 pr-5" type="button" 
                href="{% url 'user_register' %}">Sign In</a>                  
            </li>
            <li class="nav-item hover-effect">
                <a class="nav-link btn btn-success text-white anav pl-5 pr-5" type="button"
                 href="{% url 'user_register' %}">Send vacancy</a>
            </li>
        </ul>
    </div>   
</nav>


