{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white p-2 shadow-sm border rounded">
    <li class="nav-item nav-link">
        <a href="{% url 'vacancies:home' %}"><img src="{% static 'img/logo.png' %}" class="" alt=""></a>
    </li>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topnav">
            <li class="nav-item pl-nav-item">
                <a class="nav-link text-success" href="{% url 'vacancies:home'%}">Vacancies</a>
            </li>
            <li class="nav-item pl-nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item pl-nav-item">
                <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item pl-nav-item">
                <a class="nav-link" href="#">Cursos</a>
            </li>

            <li class="nav-item pl-nav-item">
                <a class="nav-link" href="#">About</a>
            </li>

        <div class="buttons mobile-shadow-lg rounded p-1">
            {% if request.user.is_authenticated %}
                <li class="nav-item user-drop">
                    <div class="dropdown mobile-shadow-md">
                        <a class=" nav-link btn btn-light user-button border-secondary rounded text-dark pl-5 pr-5 pt-2 pb-2 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                        </a>
                        <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuLink">
                            <a class="nav-link bg-light text-success" href="{% url 'vacancies:my_vacancies' %}">My vacancies</a>
                            <a class="nav-link bg-light" href="{% url 'user:user_profile' %}">View profile</a>
                            <a class="nav-link bg-light" href="{% url 'user:change_password' %}">Change password</a>
                            <a class="nav-link bg-light" href="{% url 'user:user_logout' %}">Logout</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-light user-button border border-dark text-dark  pl-5 pr-5" type="button"
                    href="{% url 'user:user_login' %}">Sing in</a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item hover-effect navitem-size">
                    <a class="nav-link btn btn-success text-white send-button" type="button"
                    href="{% url 'vacancies:send_vacancy' %}">Send vacancy</a>
                </li>
            {% else %}
                <li class="nav-item hover-effect navitem-size">
                    <a class="nav-link btn btn-success text-white send-button" type="button"
                    href="{% url 'user:user_register' %}?next=/send_vacancy/">Send vacancy</a>
                </li>
            {% endif %}
        </div>
        </ul>
    </div>
</nav>
